body {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
}
h1, h2, h3 {
    font-family: "Trebuchet MS";
}
h1 {
    border: none;
    float:left;
    font-size:30px;
    margin:0;
}
h2 {
    border-bottom: 1px solid #DDD;
    font-size: 22px;
    padding: 0 0 10px;
}
h3 {
    border-bottom:1px solid #EEE;
    font-size:17px;
    padding:5px 0;
}
p{
  margin:10px 0;
}
.content {
  width: 950px;
  margin: 0 auto;
  padding: 3px 0;
  overflow: auto;
}


#header {
  background-color: #0077CC;
  margin:0 0 30px;
  font-weight: bold;
}
    #header h1{
      font-size:17px;
    }
    #header h1 a{
      color:#FFF;
    }
    #header ul {
      float: right;
      margin:5px 0;
      padding: 0;
      font-size:10px;
    }
    #header li {
      display: inline;
      margin:0 0 0 10px;
    }
    #header li a{
      color:#CCC;
    }
    #header li a.selected, #header li a:hover{
      color:#FFF;
    }


#menu {
  overflow:auto;
  position:absolute;
}
    #menu ul {
      float: left;
      margin: 0;
      padding: 0;
    }
    #menu li {
      display: inline;
    }
    #menu a{
      display:block;
      float:left;
      padding:10px 15px;
      color:#777;
      font-weight:bold;
      background-color:#F4F4F4;
      border-color:#EEEEEE #EEEEEE #DDDDDD;
      border-style:solid;
      border-width:1px;
      border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0; 
      -webkit-border-radius: 5px 5px 0 0;
    }
    #menu a:hover{
      color:#000000;
      background-color:#F1F1F1;
    }
    #menu a.selected{
      background-color:#FFFFFF;
      border:1px solid #DDDDDD;
      border-bottom:none;
      color:#0077CC;
      padding-bottom:11px;
    }

#container {
  margin:37px 0 0;
  overflow:auto;
  padding:10px;
  background-color:#FFFFFF;
  border:1px solid #DDDDDD;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px; 
  -webkit-border-radius: 0 5px 5px 5px; 
}
    #main{
      float:left;
      width: 470px;
    }
    #sidebar{
      float:right;
      width: 230px;
    }


#footer {
    font-size: 10px;
    text-align: center;
}


#features{
  line-height:24px;
}
#features div{
  float:left;
  margin:0 100px;
}
#features h1{
  color:#000000;
  float:none;
  font-size:34px;
  margin:60px 0 10px;
  text-align:center;
}
#features h2{
  padding:0 0 50px;
  text-align:center;
}
#features h3{
  font-size:16px;
  padding:0 0 10px;
}
#features li{
  background: url("/images/accept.png") no-repeat scroll 10px center transparent;
  padding:0 0 0 35px;
}
.metadata {
  font-size: 10px;
  color: #999;
}
.add, .edit, .delete{
  float: right;
  margin:0 0 0 5px;
  padding:0;
}
.add:hover, .edit:hover, .delete:hover{
  background: none;
}
/***** Links *****/
a {
    color: #0077CC;
    padding: 1px 3px 2px;
    text-decoration: none;
    outline-style: none;
    border-radius: 3px;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
}
a:hover {
    color: #FFFFFF;
    background-color: #0077CC;
}
a img {
    border: none;
    vertical-align: middle;
}
/***** Lists *****/
ul.list{
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}
/***** Forms *****/
form {
    margin: 0px;
    padding: 0px;
}
input, select, textarea {
    font: inherit;
}
.field, .actions{
  margin: 16px 0;
  overflow:auto;
}
.actions{
  text-align:right;
}
.checkbox{
  margin:10px 0;
}
label{
  display:block;
  float:left;
  margin:10px 10px 10px 0;
  text-align:right;
  width:150px;
}
.text_field{
  width: 540px;
}
select{
  width: 560px;
}
.textarea{
  width: 540px;
  height: 130px;
}
.text_field, .textarea, select, .submit{
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border:1px solid #EEEEEE;
  font-weight:bold;
  padding:9px;
}
.submit{
  color:#333;
  padding:8px;
  margin-left:0;
  margin-right:0;
  text-shadow:1px 1px 0 #FFF;
  border: 1px solid #CCC;
  background: -moz-linear-gradient(center top, #F9F9F9, #E0E0E0) repeat scroll 0 0 transparent;
}
.submit:hover{
  border: 1px solid #AAA;
}
.submit:active{
  padding:9px 7px 7px 9px;
  background: -moz-linear-gradient(center top, #E0E0E0, #F9F9F9) repeat scroll 0 0 transparent;
}
.text_field:focus, .textarea:focus, select:focus, .submit:focus, .text_field:hover, .textarea:hover, select:hover{
  border: 1px solid #CCC;
}
/***** Flash Messages *****/
.notice, .alert, .note {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}
.notice {
    color: #57861A;
    background-color: #F6FFF6;
    border-color: #99CC99;
}
.alert {
    color: #CC0000;
    background-color: #FFEBEB;
    border-color: #E88C8C;
}
.note {
    color: #A47E00;
    background-color: #FFFFEA;
    border-color: #FBE288;
}
/***** Scaffold Errors *****/
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
    border: 1px solid #CC0000;
}
#error_explanation {
  background-color: #FFEBEB;
  border: 2px solid #E88C8C;
  padding: 0pt 15px;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}
#error_explanation h2 {
  color: #CC0000;
  font-size: 16px;
  border: none;
  margin:10px 0;
  padding:0;
}
#error_explanation ul {
  margin: 0 0 10px;
}