body {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #F7F7F7;
}
h1, h2, h3 {
    font-family: "Trebuchet MS";
}
h1 {
    border-bottom: 1px solid #DDD;
    font-size: 22px;
    padding: 0 0 10px;
    margin-bottom:0;
    color:#000;
}
h2 {
    border-bottom:1px solid #DDD;
    font-size:17px;
    padding:5px 0;
    color:#333;
}
h3 {
    border-bottom:1px solid #DDD;
    font-size:17px;
    padding:5px 0;
    color:#333;
}
.content {
  width: 950px;
  margin: 0 auto;
  padding: 10px 0;
  overflow: auto;
}


#header {
  background-color:#000000;
  border-bottom:3px solid #666666;
  margin:0 0 20px;
}
    #header h1 {
        border: none;
        float:left;
        font-size:17px;
        margin:0;
        padding:0;
    }
    #header a{
      color:#999;
      font-weight:bold;
    }
    #header h1 a, #header a.selected, #header a:hover{
      color:#FFF;
      background:none;
    }
    #header ul {
      float: right;
      margin:5px 0;
      padding: 0;
      font-size:10px;
    }
    #header li {
      display: inline;
      margin:0 0 0 10px;
    }

#menu {
  overflow:auto;
  position:absolute;
}
    #menu ul {
      float: left;
      margin: 0;
      padding: 0;
    }
    #menu li {
      display: inline;
    }
    #menu a{
      display:block;
      float:left;
      padding:10px 15px;
      color:#CCC;
      font-weight:bold;
      background-color:#F4F4F4;
      border-color:#EEEEEE #EEEEEE #DDDDDD;
      border-style:solid;
      border-width:1px;
      border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0; 
      -webkit-border-radius: 5px 5px 0 0;
    }
    #menu a:hover{
      color:#000;
      background-color:#EEE;
    }
    #menu a.selected{
      background-color:#FFFFFF;
      border:1px solid #DDDDDD;
      border-bottom:none;
      color:#000;
      padding-bottom:11px;
    }

#container {
  margin:37px 0 0;
  overflow:auto;
  padding:10px 10px 20px;
  background-color:#FFFFFF;
  border:1px solid #DDDDDD;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px; 
  -webkit-border-radius: 0 5px 5px 5px; 
}
    #main{
      float:left;
      width: 470px;
    }
    #sidebar{
      float:right;
      width: 230px;
    }


#footer {
    font-size: 10px;
    text-align: center;
}


#features{
  line-height:24px;
}
#features div{
  float:left;
  margin:0 100px;
}
#features h1{
  color:#000000;
  float:none;
  font-size:34px;
  margin:60px 0 10px;
  text-align:center;
  border:none;
}
#features h2{
  padding:0 0 50px;
  text-align:center;
  font-size: 22px;
}
#features h3{
  font-size:16px;
  padding:0 0 10px;
}
#features li{
  background: url("/images/accept.png") no-repeat scroll 10px center transparent;
  padding:0 0 0 35px;
}
.metadata {
  font-size: 10px;
  color: #999;
}
/***** Links *****/
a {
    color: #0077CC;
    padding: 1px 3px 2px;
    text-decoration: none;
    outline-style: none;
    border-radius: 3px;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
}
a:hover {
  color: #FFF;
  background-color: #0077CC;
}
a.edit, a.delete{
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  background-color: #CCC;
}
a.edit:hover{
  background-color: #0077CC;
}
a.delete:hover{
  background-color: #CC0000;
}
/***** Lists *****/
ul.list{
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}
/***** Tables *****/
table{
  width: 100%;
  border-collapse:collapse;
}
tr.odd{
  background-color:#F9F9F9;
}
th{
  border-bottom:1px solid #EEE;
  text-align:left;
  padding:5px;
}
th.action{
  width:5%;
}
th.side{
  width:15%;
}
th.numeric{
  text-align:right;
}
td{
  border-bottom:1px solid #EEE;
  padding:5px;
}
td.numeric{
  text-align:right;
}
/***** Forms *****/
form {
    margin: 0px;
    padding: 0px;
}
label, input, select, textarea {
  font: inherit;
  padding:5px;
}
fieldset{
  margin:10px 0;
  border: none;
}
.actions{
  text-align:right;
  font-weight:bold;
}
    .actions ul{
      float:right;
    }
    .actions li{
      display: inline;
      margin:0 0 0 10px;
    }
    .actions a{
      font-size:10px;
      background-color:#0077CC;
      color:#FFFFFF;
      padding:5px 10px;
    }
    .actions a:hover{
      background-color:#000;
      padding:5px 10px;
    }
.checkbox{
  margin:5px;
}
label{
  display:block;
  float:left;
  text-align:right;
  width:150px;
  font-weight:bold; 
}
.text_field, textarea{
  width: 540px;
}
.text_field_small{
  width: 200px;
}
select{
  width: 552px;
}
select_small{
  width: 552px;
}
textarea{
  height: 130px;
}
.submit{
  color:#333;
  font-weight:bold;
  margin:0;
}
/***** Flash Messages *****/
.notice, .alert, .note {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}
.notice {
    color: #57861A;
    background-color: #F6FFF6;
    border-color: #99CC99;
}
.alert {
    color: #CC0000;
    background-color: #FFEBEB;
    border-color: #E88C8C;
}
.note {
    color: #A47E00;
    background-color: #FFFFEA;
    border-color: #FBE288;
}
/***** Scaffold Errors *****/
.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
    border: 1px solid #E88C8C;
}
#error_explanation {
  background-color: #FFEBEB;
  border: 1px solid #E88C8C;
  margin:10px 0;
  padding:5px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}
#error_explanation h2 {
  color: #CC0000;
  font-size: 16px;
  border: none;
  margin:10px 0;
  padding:0;
}
#error_explanation ul {
  margin: 0 0 10px;
}