<div id="features">
  <h1>StoreMate</h1>
  <h2>The Easiest Point of Sale System</h2>
  <h3>Everything you want, nothing you don't!</h3>
  <%= link_to 'Start Now!', page_path('signup'), :class => 'btn large primary' %>
</div>