<div id="features">
  <h1>The Easiest Point of Sale System</h1>
  <h2>Everything you want, nothing you don't!</h2>
  <div>
    <h3>Features</h3>
    <ul class="list">
      <li>Simple and easy to use</li>
      <li>No software/hardware to install</li>
      <li>International support</li>
      <li>Multiple branches</li>
      <li>Multiple payment methods</li>
    </ul>
  </div>
  <div>
    <h3>How it Works</h3>
    <ul class="list">
      <li>Setup your store</li>
      <li>Manage products and categories</li>
      <li>Populate inventory</li>
      <li>Purchase and sell products</li>
      <li>View detailed reports</li>
    </ul>
  </div>
</div>