<div class="page-header">
  
  <div class="input" style="float: right;">
    <div class="inline-inputs">
      From
      <input class="small" type="text" value="May 1, 2011">
      <input class="mini" type="text" value="12:00am">
      to
      <input class="small" type="text" value="May 8, 2011">
      <input class="mini" type="text" value="11:59pm">
      <button class="btn primary">Search</button>
    </div>
  </div>
  <h1>Sales Orders</h1>
</div>
<div class="row">
    <div class="span16">
      <table class="zebra-striped" id="sortTableExample">
        <thead>
          <tr>
            <th class="blue header headerSortDown">#</th>
            <th class="blue header">Date Time</th>
            <th class="blue header">Customer</th>
            <th class="blue header">User</th>
            <th class="blue header">Total</th>
            <th class="blue header">Status</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>987636</td>
          <td>May 1, 2011 5:31 PM</td>
          <td>Muhammad Badrah</td>
          <td>Ali Maher</td>
          <td>250.00</td>
          <td><span class="label success">Paid</span></td>
        </tr>
        <tr>
          <td>987637</td>
          <td>May 1, 2011 5:46 PM</td>
          <td>Wael Shaaban</td>
          <td>Ahmad Hassan</td>
          <td>1500.00</td>
          <td><span class="label success">Paid</span></td>
        </tr>
        <tr>
          <td>987638</td>
          <td>May 1, 2011 6:37 PM</td>
          <td>Ahmad Magdy</td>
          <td>Youssef Ali</td>
          <td>150.00</td>
          <td><span class="label success">Paid</span></td>
        </tr>
        <tr>
          <td>987639</td>
          <td>May 1, 2011 7:31 PM</td>
          <td>Mahmoud Said</td>
          <td>Ahmad Hassan</td>
          <td>100.00</td>
          <td><span class="label warning">Hold</span></td>
        </tr>
        <tr>
          <td>987640</td>
          <td>May 2, 2011 10:57 AM</td>
          <td>Zaki Basha</td>
          <td>Hamdy Khalil</td>
          <td>500.00</td>
          <td><span class="label success">Paid</span></td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
<h1 style="float: right;">EGP 2,500.00</h1>