<div class="page-header">
  <h1>Signup <small>Create your store</small></h1>
</div>
<div class="row">
    <div class="span4">
      <p>All fields are required. When you're done you'll get a confirmation email.</p>
    </div>
    <div class="span12">
      <form>
        <fieldset>
          <div class="clearfix">
            <label for="Input">Store Name</label>
            <div class="input">
              <input class="" id="Input" name="Input" size="30" type="text" value="Hatem's Store">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="normalSelect">Store Type</label>
            <div class="input">
              <select name="normalSelect" id="normalSelect">
                <option>Select...</option>
                <option selected="selected">Electronics</option>
                <option>Supermarket</option>
                <option>Clothing</option>
                <option>Jewelry</option>
                <option>Pharmacy</option>
              </select>
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="Input">Email</label>
            <div class="input">
              <input class="" id="Input" name="Input" size="30" type="text" value="Hatem's Store">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="Input">Password</label>
            <div class="input">
              <input class="" id="Input" name="Input" size="30" type="password" value="Hatem's Store">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="Input">Confirm Password</label>
            <div class="input">
              <input class="" id="Input" name="Input" size="30" type="password" value="Hatem's Store">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
          <div class="actions">
            <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>