<div class="page-header">
  <h1>Setup <small>Setup your store</small></h1>
</div>
<div class="row">
    <div class="span4">
      <p>Follow the wizard to get yur store ready.</p>
    </div>
    <div class="span12">
      <form>
        <fieldset>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value="" checked="checked"></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Create your account">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Add a branch">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Add a user">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Create categories">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Define unit types">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Setup taxes">
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <div class="input-prepend">
                <label class="add-on active"><input type="checkbox" name="" id="" value=""></label>
                <input class="" id="prependedInput2" name="prependedInput2" size="16" type="text" value="Add your products">
              </div>
            </div>
          </div>
          <div class="actions">
            <%= link_to 'Next', page_path('branches_new'), :class => 'btn primary' %>
          </div>
        </fieldset>
      </form>
    </div>
  </div>