<div class="page-header">
  <%= link_to 'Publish Your Store', '#', :class => 'btn success', :style => 'float: right;' %>
  <h1>Online Store <small>Start your ecommerce.</small></h1>
</div>
<div class="row">
    <div class="span4">
      <h2>Mobile Phones</h2>
      <p>All kinds of mobile phones.</p>
    </div>
    <div class="span12">
      <h3>iPhone</h3>
      <ul class="media-grid">
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
      </ul>
      <h4>Sony Ericsson</h4>
      <ul class="media-grid">
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
      </ul>
      <h4>BlackBerry</h4>
      <ul class="media-grid">
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
          </a>
        </li>
      </ul>
      
  </div>