<div class="page-header">
  <h1>Taxes <small>Define your taxes</small></h1>
</div>
<div class="row">
    <div class="span4">
      <h3>New Tax</h3>
      <p>Define any taxes that can be added to product prices.</p>
    </div>
    <div class="span12">
      <form>
        <fieldset>
          <div class="clearfix">
            <label for="Input">Name</label>
            <div class="input">
              <input class="" id="Input" name="Input" size="30" type="text" value="City tax">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="Input">Percentage (%)</label>
            <div class="input">
              <input class="" id="Input" name="Input" size="30" type="text" value="10">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
          <div class="actions">
            <%= link_to 'Next', page_path('products_new'), :class => 'btn primary' %>
          </div>
        </fieldset>
      </form>
    </div>
  </div>